# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.pdb
*.ilk
*.out

# Ninja
.ninja_deps
.ninja_log

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
